#cabecalho{
  padding-left: 34px;
  padding-top: 20px;
  padding-bottom: 13px;
  background-color: #6175f0;
}
h1{
  font-family: "Kaushan Script", cursive;
  color: white;
  font-size: 36px;
  margin: 0;
}
#cabecalho>h2{
  color: white;
  margin: 0;
  font-weight: normal;
}
#hoje{
  margin-right: 25px;
  padding-right: 35px;
  padding-left: 35px;
    width: 405px;
    border: 1px solid #ff56fb;
    float: right;
    text-align: center;
    background-color: #f8cef7;
}
#hoje > img{
    width: 112px;
}
#verdade>img{
  display: inline-block;
  width: 310px;
  float: left;
  padding-right: 13px;
}
#musica{
  clear: left;
}
#musica>p,#musica>h2{
  padding-left: 12px;
}
#musica>div>p{
  padding-left: 46px;
  margin-bottom: 0;
}

.destacado{
  background-color: #c4caf3;
  color: #004a79;
}
#musica>.destacado>p{
    padding-left: 12px;
  }
#musica>.destacado>div>p{
    padding-left: 46px;
}

body{
  font-family: arial;
  font-size: 14px;
  margin: 0;
}
h2{
  font-family: "Times New Roman", Times, serif;
  color: black;
  font-size: 24px;
}
h3{
  font-family: Times;
  font-size: 18px;
}

audio{
  display: none;
}

.referencia{
  font-style: oblique;
}
